<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Modifica buffet</title>
	<link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
	<h1>Modifica il buffet</h1>
	<img src="/images/buffet.jpg" alt="A buffet" width="70%" />
	<form th:action="@{'/admin/confirmModifyBuffet'+ '/' + ${buffet.id}}" method="POST" th:object="${buffet}">
		<p>
		<table>
			<tr th:if="${#fields.hasGlobalErrors()}">
				  <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</tr>
			<tr>
				<td>Nome</td>
				<td><input type="text" required th:field="${buffet.nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{buffet.nome}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Descrizione</td>
				<td><input type="text" th:field="${buffet.descrizione}" /></td>
				<td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{buffet.descrizione}"
					th:style="'color:red'"></td>
			</tr>
			<tr>
				<!-- <span><label for="seleziona-chef">Buffet proposto dallo chef:</label><span>
					<span><select name="chef" id="seleziona-chef">
							<option value="">--Per favore, scegli uno chef--</option>
							<option th:each="c : ${chefs}"
								th:text="${c.nome} + ' ' + ${c.cognome}" th:value="${c.id}">Nome Cognome</option>
						</select></span> -->
			</tr>
			<tr>
				<td></td>
				<td><button type="submit">Conferma</button></td>
			</tr>
		</table>
		</p>
	</form>
	<footer>
		<p>
		<div>
			<a href="/admin/buffets">Elenco dei buffet</a>
		</div>
		<div>
			<a href="/menu">Torna al menù amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
		</p>
	</footer>
</body>

</html>