<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Elenco buffet</title>
	<link rel="stylesheet" href="/css/buffet.css" />
</head>

<body>
	<div>
		<h1>Elenco buffet:</h1>
		<img src="/images/buffet.jpg" alt="A buffet">
		<p>
		<table>
			<thead th:unless="${buffets.isEmpty()}">BUFFET</thead>
			<tr th:each="buffet : ${buffets}">
				<td><a href="admin/buffet.html" th:href="@{'/admin/buffet' + '/' + ${buffet.id}}"
					th:text="${buffet.nome}">Buffet di prova</a></td>
				<!--- <a href="confermaCancellazioneBuffet.html" th:href="@{'/admin/toDeleteBuffet' + '/' + ${buffet.id}}"
					th:text="Cancella">Cancella</a> -->
				<td><a class="button" href="confermaCancellazioneBuffet.html" th:href="@{'/admin/toDeleteBuffet' + '/' + ${buffet.id}}"
					th:text="Cancella">Cancella</a></td>
			</tr>
		</table>
		</p>
	</div>
	<footer>
		<div>
			<a href="/menu">Torna al menù amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
	</footer>
</body>

</html>