<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Elenco buffet</title>
	<link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
	<div>
		<h1>I nostri buffet</h1>
		<img src="/images/buffet.jpg" alt="A buffet">
		<p>
		<table>
			<thead th:unless="${buffets.isEmpty()}"></thead>
			<tr th:each="buffet : ${buffets}">
				<td><a href="admin/buffet.html" th:href="@{'/admin/buffet' + '/' + ${buffet.id}}"
						th:text="${buffet.nome}">Buffet di prova</a></td>
				<!--- <td><a href="confermaCancellazioneBuffet.html" th:href="@{'/admin/toDeleteBuffet' + '/' + ${buffet.id}}"
					th:text="Cancella">Cancella</a></td> -->
				<td>
					<div class="button">
						<a class="button" href="confermaCancellazioneBuffet.html"
							th:href="@{'/admin/toDeleteBuffet' + '/' + ${buffet.id}}" th:text="Cancella">Cancella</a>
					</div>
				</td>
				<td>
					<div class="button">
						<a class="button" href="buffetForm2.html"
							th:href="@{'/admin/modifyBuffet' + '/' + ${buffet.id}}" th:text="Modifica">Modifica</a>
					</div>
				</td>
			</tr>
		</table>
		</p>
		<a href="admin/buffetForm" th:href="@{/admin/buffet}">Inserisci un buffet</a>
	</div>
	<footer>
		<p>
		<div>
			<a href="/menu">Torna al menù amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
		</p>
	</footer>
</body>

</html>