<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Elenco chef</title>
	<link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
	<div>
		<h1>I nostri chef</h1>
		<img src="/images/chef.jpg" alt="A chef" width="70%" />
		<p>
		<table>
			<thead th:unless="${chefs.isEmpty()}"></thead>
			<tr th:each="chef : ${chefs}">
				<td><a href="admin/chef.html" th:href="@{'/admin/chef' + '/' + ${chef.id}}"
						th:text="${chef.nome} + ' ' + ${chef.cognome}">Chef di prova</a></td>
				<!--- <td><a href="confermaCancellazioneChef.html" th:href="@{'/admin/toDeleteChef' + '/' + ${chef.id}}"
					th:text="Cancella">Cancella</a></td> -->
				<td>
					<div class="button">
						<a class="button" href="confermaCancellazioneChef.html"
							th:href="@{'/admin/toDeleteChef' + '/' + ${chef.id}}" th:text="Cancella">Cancella</a>
					</div>
				</td>
			</tr>
		</table>
		</p>
		<a href="admin/chefForm" th:href="@{/admin/chef}">Inserisci uno chef</a>
	</div>
	<footer>
		<p>
		<div>
			<a href="/menu">Torna al menù amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
		</p>
	</footer>
</body>

</html>