<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Dettagli chef</title>
	<link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
	<div>
		<h1>Dettagli chef</h1>
		<img src="/images/chef.jpg" alt="A chef" width="70%" />
		<p>
		<div>
			<!-- <span>Nome: </span> -->
			<strong th:text="${chef.nome}">Raffaello</strong>
			<!-- <span>Cognome: </span> -->
			<strong th:text="${chef.cognome}">Sanzio</strong>
		</div>
		<div>
			<!-- <span>Nazionalità: </span> -->
			<em th:unless="${chef.nazionalita.isEmpty()}" th:text="${chef.nazionalita}">Prova</em>
		</div>
		<div>
			<p>
			<span th:if="${buffets.isEmpty()}">Non ci sono buffet per questo chef</span>
			<table>
				<thead th:unless="${buffets.isEmpty()}">Elenco dei buffet proposti da questo chef: </thead>
				<tr th:each="buffet : ${buffets}">
					<td><a th:if="${buffet != null}" href="/admin/buffet.html"
							th:href="@{'/admin/buffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}">Buffet di
							prova</a></td>
					<td><a class="button" th:href="@{'/admin/toRemoveBuffet' + '/' + ${buffet.id}}"
							th:text="Rimuovi">Rimuovi</a></td>
				</tr>
			</table>
			</p>
		</div>
		</p>
		<div>
			<a href="/admin/aggiungiBuffetAlloChef.html"
				th:href="@{'/admin/addBuffetToChef' + '/' + ${chef.id}}">Aggiungi un buffet a quelli proposti da questo
				chef</a>
		</div>
	</div>
	<footer>
		<div>
			<a href="/admin/chefs">Torna all'elenco degli chef</a>
		</div>
		<div>
			<a href="/menu">Torna al menù amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
	</footer>
</body>

</html>