<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Conferma cancellazione chef</title>
	<link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
	<div>
		<h1>Cancella uno chef</h1>
		<img src="/images/chef.jpg" alt="A chef" width="70%" />
		<p>
		<div>
			<!-- <span>Nome: </span> -->
			<strong th:text="${chef.nome}">Raffaello</strong>
			<!-- <span>Cognome: </span> -->
			<strong th:text="${chef.cognome}">Sanzio</strong>
		</div>
		<div>
			<!-- <span>Nazionalità: </span> -->
			<em th:unless="${chef.nazionalita.isEmpty()}" th:text="${chef.nazionalita}">Prova</em>
		</div>
		</p>
		<table>
			<tr>
			<td><strong>Confermi di voler cancellare questo chef ?</strong></td>
			<td>
			<div class="button">
			<a class="button" href="admin/chefs.html" th:href="@{'/admin/confirmDeleteChef'+ '/' + ${chef.id}}"
				th:text="Conferma">Conferma</a>
			</div>
			</td>
			</tr>
		</table>
	</div>
	<footer>
		<p>
		<div>
			<a href="/admin/chefs">Torna all'elenco degli chef</a>
		</div>
		<div>
			<a href="/menu">Torna al menù amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
		</p>
	</footer>
</body>

</html>