<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Conferma cancellazione piatto</title>
	<link rel="stylesheet" href="/css/buffet.css" />
</head>

<body>
	<div>
		<h1>Piatto da cancellare</h1>
		<img src="/images/piatto.jpg" alt="A course" width="70%" />
		<p>
		<div>
			<!-- <span>Nome: </span> -->
			<strong th:text="${piatto.nome}">Piatto</strong>
		</div>
		<div>
			<!-- <span>Descrizione: </span> -->
			<em th:unless="${piatto.descrizione.isEmpty()}" th:text="${piatto.descrizione}">Prova</em>
		</div>
		</p>
		<p>
			<strong>Confermi di voler cancellare questo piatto?</strong>
			<a class="button" href="admin/piatti.html" th:href="@{'/admin/confirmDeletePiatto'+ '/' + ${piatto.id}}"
				th:text="Conferma">Conferma</a>
		</p>
	</div>
	<footer>
		<div>
			<a href="/admin/piatti">Torna all'elenco dei piatti</a>
		</div>
		<div>
			<a href="/menu">Torna al menù amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
	</footer>
</body>

</html>