<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Conferma cancellazione piatto</title>
</head>

<body>
	<div>
		<h4>Piatto da cancellare:</h4>
		<div>
			<div>
				<span>Nome: </span><span th:text="${piatto.nome}">Piatto</span>
			</div>
			<div>
				<span>Descrizione: </span>
				<span th:if="${!piatto.descrizione.isEmpty()}" th:text="${piatto.descrizione}">Prova</span>
				<span th:unless="${!piatto.descrizione.isEmpty()}">Non disponibile</span>
			</div>
		</div>
		<div>
			<strong>Confermi di voler cancellare questo piatto?</strong>
			<a href="admin/piatti.html" th:href="@{'/admin/confirmDeletePiatto'+ '/' + ${piatto.id}}"
				th:text="Conferma">Conferma</a>
		</div>
	</div>
	<footer>
		<div>
			<a href="/admin/piatti">Elenco piatti</a>
		</div>
		<div>
			<a href="/menu">Menù amministratore</a>
		</div>
		<div>
			<a href="/">Home</a>
		</div>
	</footer>
</body>

</html>