<!DOCTYPE html>
<html xmlns:th="htttr://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Menù amministratore</title>
	<link rel="stylesheet" href="/css/index.css" />
</head>

<body>
	<p>
	<h1>Menù amministratore</h1>
	<h2>
		<span>Comincia inserendo gli ingredienti, poi i piatti, infine i buffet e gli chef</span>
	</h2>
	<p>
	<table>
		<tr>
			<td>Ingrediente</td>
			<td>
				<div class="button">
					<a class="button" href="admin/ingredienteForm" th:href="@{/admin/ingrediente}">Inserisci</a>
				</div>
			</td>
			<td>
				<div class="button">
					<a class="button" href="admin/ingrediente" th:href="@{/admin/ingredienti}">Visualizza</a>
				</div>
			</td>
		</tr>
		<tr>
			<td>Piatto</td>
			<td>
				<div class="button">
					<a class="button" href="admin/piattoForm" th:href="@{/admin/piatto}">Inserisci</a>
				</div>
			</td>
			<td>
				<div class="button">
					<a class="button" href="admin/piatto" th:href="@{/admin/piatti}">Visualizza</a>
				</div>
			</td>
		</tr>
		<tr>
			<td>Buffet</td>
			<td>
				<div class="button">
					<a class="button" href="admin/buffetForm" th:href="@{/admin/buffet}">Inserisci</a>
				</div>
			</td>
			<td>
				<div class="button">
					<a class="button" href="admin/buffet" th:href="@{/admin/buffets}">Visualizza</a>
				</div>
			</td>
		</tr>
		<tr>
			<td>Chef</td>
			<td>
				<div class="button">
					<a class="button" href="admin/chefForm" th:href="@{/admin/chef}">Inserisci</a>
				</div>
			</td>
			<td>
				<div class="button">
					<a class="button" href="admin/chef" th:href="@{/admin/chefs}">Visualizza</a>
				</div>
			</td>
		</tr>
	</table>
	</p>
	</p>
	<footer>
		<p>
			<a th:href="@{/logout}">Logout</a>
		</p>
	</footer>
</body>

</html>