<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Menù amministratore</title>
</head>

<body>
	<div>
		<h4>Menù amministratore</h4>
		<div>
			<a href="admin/buffetForm" th:href="@{/admin/buffet}">Inserisci un buffet</a>
   		</div>
		<div>
			<a href="admin/buffet" th:href="@{/admin/buffets}">Elenco buffet</a>
   		</div>
   		<div>
			<a href="admin/chefForm" th:href="@{/admin/chef}">Inserisci uno chef</a>
   		</div>
		<div>
			<a href="admin/chef" th:href="@{/admin/chefs}">Elenco chef</a>
   		</div>
		<div>
			<a th:href="@{/logout}">Logout</a>
		</div>
	</div>
</body>

</html>