<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Elenco piatti</title>
	<link rel="stylesheet" href="/css/admin.css" />
</head>

<body>
	<div>
		<h1>I nostri piatti</h1>
		<img src="/images/piatto2.jpg" alt="A course" width="70%" />
		<p>
		<table>
			<thead th:unless="${piatti.isEmpty()}"></thead>
			<tr th:each="piatto : ${piatti}">
				<td><a href="admin/piatto.html" th:href="@{'/admin/piatto' + '/' + ${piatto.id}}"
						th:text="${piatto.nome}">Piatto di prova</a></td>
				<!--- <td><a href="confermaCancellazionePiatto.html" th:href="@{'/admin/toDeletePiatto' + '/' + ${piatto.id}}"
					th:text="Cancella">Cancella</a></td> -->
				<td>
					<div class="button">
						<a class="button" href="confermaCancellazionePiatto.html"
							th:href="@{'/admin/toDeletePiatto' + '/' + ${piatto.id}}" th:text="Cancella">Cancella</a>
					</div>
				</td>
			</tr>
		</table>
		</p>
		<a href="admin/piattoForm" th:href="@{/admin/piatto}">Inserisci un piatto</a>
	</div>
	<footer>
		<p>
		<div>
			<a href="/menu">Torna al menù amministratore</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
		</p>
	</footer>
</body>

</html>