<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Dettagli buffet</title>
	<link rel="stylesheet" href="/css/user.css" />
</head>

<body>
	<div>
		<h1>Dettagli buffet</h1>
		<img src="/images/buffet.jpg" alt="A buffet" width="70%" />
		<p>
		<div>
			<!-- <span>Nome: </span> -->
			<strong th:text="${buffet.nome}">Buffet</strong>
		</div>
		<div>
			<!-- <span>Descrizione: </span> -->
			<em th:unless="${buffet.descrizione.isEmpty()}" th:text="${buffet.descrizione}">Prova</em>
		</div>
		<div>
			<p>
				<span th:if="${piatti.isEmpty()}">attualmente non disponibile</span>
			<table>
				<thead th:unless="${piatti.isEmpty()}">Elenco dei piatti: </thead>
				<tr th:each="piatto : ${piatti}">
					<td><a th:if="${piatto != null}" href="/user/piatto.html"
							th:href="@{'/user/piatto' + '/' + ${piatto.id}}" th:text="${piatto.nome}">Piatto di
							prova</a></td>
				</tr>
			</table>
			</p>
		</div>
		</p>
		<p>
			<span th:if="${buffet.chef != null}">Proposto dallo chef </span>
			<a th:if="${buffet.chef != null}" href="/user/chef.html" th:href="@{'/user/chef' + '/' + ${buffet.chef.id}}"
				th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}">Chef</a>
			<!-- <span th:unless="${buffet.chef != null}">attualmente non disponibile</span> -->
		</p>
	</div>
	<footer>
		<p>
		<div>
			<a href="/user/buffets">Torna all'elenco dei buffet</a>
		</div>
		<div>
			<a href="/menu">Torna al menù utente</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
		</p>
	</footer>
</body>

</html>