<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Dettagli buffet</title>
</head>

<body>
	<div>
		<h4>Dettagli buffet</h4>
		<div>
			<span>Nome: </span><span th:text="${buffet.nome}">Buffet</span>
		</div>
		<div>
			<span>Descrizione: </span>
			<span th:if="${!buffet.descrizione.isEmpty()}" th:text="${buffet.descrizione}">Prova</span>
			<span th:unless="${!buffet.descrizione.isEmpty()}">Non disponibile</span>
		</div>
		<div>
			<span>Elenco dei piatti: </span>
			<span th:if="${piatti.isEmpty()}">L'elenco non è disponibile</span>
			<ul>
				<li th:each="piatto : ${piatti}">
					<a th:if="${piatto != null}" href="/user/piatto.html"
						th:href="@{'/user/piatto' + '/' + ${piatto.id}}" th:text="${piatto.nome}">Piatto di prova</a>
				</li>
			</ul>
		</div>
		<div>
			<span>Proposto dallo chef: </span>
			<a th:if="${buffet.chef != null}" href="/user/chef.html"
				th:href="@{'/user/chef' + '/' + ${buffet.chef.id}}"
				th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}">Chef</a>
			<span th:unless="${buffet.chef != null}">Non disponibile</span>
		</div>
	</div>
	<footer>
		<div>
			<a href="/user/buffets">Elenco buffet</a>
		</div>
		<div>
			<a href="/menu">Menù utente</a>
		</div>
		<div>
			<a href="/">Home</a>
		</div>
	</footer>
</body>

</html>