<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Elenco ingredienti</title>
	<link rel="stylesheet" href="/css/user.css" />
</head>

<body>
	<div>
		<h1>Elenco ingredienti</h1>
		<img src="/images/ingrediente.jpg" alt="Some ingredients" width="70%" />
		<p>
		<table>
			<thead th:unless="${ingredienti.isEmpty()}">INGREDIENTI</thead>
			<tr th:each="ingrediente : ${ingredienti}">
				<td><a href="user/ingrediente.html" th:href="@{'/user/ingrediente' + '/' + ${ingrediente.id}}"
					th:text="${ingrediente.nome}">Ingrediente di prova</a></td>
			</tr>
		</table>
		</p>
	</div>
	<footer>
		<div>
			<a href="/menu">Torna al menù utente</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
	</footer>
</body>

</html>