<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Dettagli ingrediente</title>
	<link rel="stylesheet" href="/css/user.css" />
</head>

<body>
	<div>
		<h1 th:text="${ingrediente.nome}"></h1>
		<h3>
			<em th:unless="${ingrediente.origine.isEmpty()}" th:text="${ingrediente.origine}">Prova</em>
		</h3>
		<h3>
			<em th:unless="${ingrediente.descrizione.isEmpty()}" th:text="${ingrediente.descrizione}">Prova</em>
		</h3>
		<img src="/images/ingrediente.jpg" alt="Some ingredients" width="70%" />
		<p>
		<div>
			<p>
				<span th:if="${piatti.isEmpty()}">Elenco dei piatti attualmente non disponibile</span>
			<table>
				<thead th:unless="${piatti.isEmpty()}">Elenco dei piatti in cui viene utilizzato questo ingrediente:
				</thead>
				<tr th:each="piatto : ${piatti}">
					<td><a th:if="${piatto != null}" href="/user/piatto.html"
							th:href="@{'/user/piatto' + '/' + ${piatto.id}}" th:text="${piatto.nome}">Piatto di
							prova</a></td>
				</tr>
			</table>
			</p>
		</div>
		</p>
	</div>
	<footer>
		<p>
		<div>
			<a href="/user/ingredienti">Torna all'elenco degli ingredienti</a>
		</div>
		<div>
			<a href="/menu">Torna al menù utente</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
		</p>
	</footer>
</body>

</html>