<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Menù utente</title>
	<link rel="stylesheet" href="/css/index.css" />
</head>

<body>
	<p>
	<table>
		<thead>
			<h1>Menù utente</h1>
		</thead>
		<tr>
			<td>Trova il buffet per te </td>
			<td><a href="user/buffet" th:href="@{/user/buffets}">Elenco buffet</a></td>
		</tr>
		<tr>
			<td>Conosci la sapiente esperienza dei nostri chef </td>
			<td><a href="user/chef" th:href="@{/user/chefs}">Elenco chef</a></td>
		</tr>
		<tr>
			<td>Scegli tra i piatti in base alla stagionalità e alla disponibilità </td>
			<td><a href="user/piatto" th:href="@{/user/piatti}">Elenco piatti</a></td>
		</tr>
		<tr>
			<td>Sapori e colori con ingredienti di prima qualità </td>
			<td><a href="user/ingrediente" th:href="@{/user/ingredienti}">Elenco ingredienti</a></td>
		</tr>
	</table>
	</p>
	<p>
		<a th:href="@{/logout}">Logout</a>
	</p>

</body>

</html>