<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Menù utente</title>
</head>

<body>
	<div>
		<h4>Menù utente</h4>
		<div>
			<a href="user/buffet" th:href="@{/user/buffets}">Elenco buffet</a>
		</div>
		<div>
			<a href="user/chef" th:href="@{/user/chefs}">Elenco chef</a>
		</div>
		<div>
			<a href="user/piatto" th:href="@{/user/piatti}">Elenco piatti</a>
		</div>
		<div>
			<a href="user/ingrediente" th:href="@{/user/ingredienti}">Elenco ingredienti</a>
		</div>
		<div>
			<a th:href="@{/logout}">Logout</a>
		</div>
	</div>
</body>

</html>