<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Elenco piatti</title>
	<link rel="stylesheet" href="/css/user.css" />
</head>

<body>
	<div>
		<h1>Elenco piatti</h1>
		<img src="/images/piatto.jpg" alt="A course" width="70%" />
		<p>
		<table>
			<thead th:unless="${piatti.isEmpty()}">PIATTI</thead>
			<tr th:each="piatto : ${piatti}" th:unless="${piatto.buffets.isEmpty()}">
				<td><a href="user/piatto.html"
						th:href="@{'/user/piatto' + '/' + ${piatto.id}}" th:text="${piatto.nome}">Piatto di prova</a>
				</td>
			</tr>
		</table>
		</p>
	</div>
	<footer>
		<div>
			<a href="/menu">Torna al menù utente</a>
		</div>
		<div>
			<a href="/">Torna alla home</a>
		</div>
	</footer>
</body>

</html>