h2, h3 {
	margin-top: -20px;
}

body {
  	font-family: Helvetica;
  	background-color: white;
  	text-align: center;
  	font-size: 150%;
}

table {
	margin-left:auto;
	margin-right: auto;
}

a {
	text-decoration: none;
}

div.button a:hover {
	color: black;
}

a:hover {
	color: orange;
}

a:active {
	color: red;
}

footer {
	text-align:justify;
	font-size: 80%;
}