<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Elenco buffet</title>
</head>

<body>
	<div>
		<h4>Elenco buffet:</h4>
		<ul>
			<li th:each="buffet : ${buffets}">
				<a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}"
					th:text="${buffet.nome}">Buffet di prova</a>
				<!--- <a href="confermaCancellazioneBuffet.html" th:href="@{'/toDeleteBuffet' + '/' + ${buffet.id}}"
					th:text="Cancella">Cancella</a> -->
				<a href="confermaCancellazioneBuffet.html" th:href="@{'/toDeleteBuffet' + '/' + ${buffet.id}}"
					th:text="Cancella">Cancella</a>
			</li>
		</ul>
	</div>
	<footer>
		<div>
			<a href="/menu">Menù amministratore</a>
		</div>
		<div>
			<a href="/">Home</a>
		</div>
	</footer>
</body>

</html>